@media (max-width: 400px) {
	p.user-phone-no{
		margin-right: 0 !important;
	}
		
}

@media (max-width: 992px) {
	div.add-address-left{
		padding-right: 0 !important;
	}
	
	div.add-address-right{
		padding-left: 0 !important;
	}
		
}

.delete-address{
	opacity: 0.3;
}

div.address-item-wrapper{
	overflow:hidden;
}

.default-address{
	border : 3px solid gray;	
}

.invalid-data{
	border : 1px solid #e6594e;
}

.invalid-data:focus{
	border : 1px solid #e6594e;
}

p.ps-shipping-address{
	font-weight: bold;
	font-size: 14px;
	color: #333;
	padding: 15px 0 10px 0;
}

div.shipping-wrapper{
	padding: 0 0 0 0px;
}

div.address-wrapper{
	
}

div.address-item{
	
	border-bottom: 1px solid  #DFDFDF;
	display: table;
	width: 100%;
	padding: 15px;
	
}

div.col-left{
	display: table-cell;
	padding-right: 20px;	
}

div.col-right{
	
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

p.recipient-name{
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 0px 0;
	color: #333;
}

p.address-detail{
	margin: 0;
}

.span-title{
	font-size: 12px;
	color: #333;
	margin-right: 2px;
}

.span-desc{
	font-size: 12px;
	color: #333;
}

a.text-action{
	font-size: 12px;
	display: inline-block;
	color: #333;
	padding: 5px 5px 5px 5px;
	
}

span.add-data-btn{
	font-size: 12px;
	font-weight: bold;
	padding-right: 10px;
	color: #333;
	cursor: pointer;
	padding: 10px 10px 10px 0;
}

span.add-data-btn:hover{
	text-decoration: underline;
}

span.add-data-desc{
	font-size: 12px;
	color: #333;
	padding: 10px 0 10px 0;
}

p.add-address-text{
	padding: 10px 0 10px 0;
}

div.fill-in-form{
	border: 1px solid #DFDEDE;
    background-color: #F7F7F7;
    padding: 10px 35px 27px 35px;
    display:none;
}

div.fill-in-form:before{
	top: -13px;
    border-left: 1px solid #DFDEDE;
     border-top: 1px solid #DFDEDE;
    content: " ";
    height: 25px;
    width: 25px;
    position: absolute;
    background: #F7F7F7;
    text-align:center;
    left:30px;
 	
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    transform: rotate(45deg);
 
}

.form-group{
	margin-bottom: 15px !important;
}

div.form-wrapper-left, div.form-wrapper-right{
	float: left;
}

div.add-address-wrapper{
	margin-top: 20px;
}

label.title-input{
	font-weight: normal !important;
	font-size: 12px !important;
	margin-top: 6px;
	color: #333;
}

input.input-text-form{
	height: 37px !important;
}

span.cls-pointer{
	color: #cc0033;
	margin-right: 3px;
}

div.update-fill-in-form{
	margin-top: 20px;

}

button.standard-btn{
	min-width: 180px;
	letter-spacing : 0 !important;
}

button.btn-cancel{
	color: #333;
}
button.btn-save{
	background: #E4282C;
}