@media (max-width: 992px) {
	
	.input-measure{
		padding-left: 0 !important;
	}
	
	div.result-wrapper{
		padding-left: 0px !important;
	}
	
	div.display-left{
	
		padding-bottom: 10px;
	}
	div.display-right{
		border-left: 0 !important;
		border-top:  #ccc solid 1px;
		padding-top: 10px;
	}
	
	div.display-result{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	
}

p.waiting-text{
	color: #616161;
	font-size: 14px;
}

div.title-header{
	
    background: #f1f5f6;
  	height: 30px;
}

p.result-of-estimate{
	
	color: #D72320;
	font-size: 18px;
	font-weight: bold;
	text-align:center;
	display:inline-block;
	min-width: 200px;
	padding: 15px;
	background: #f1f5f6;
}

p.my-desc{
	color: #333;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

div.display-right{
	border-left:  #ccc solid 1px;
}

p.inside-title{
	font-weight: bold;
	text-align:center;
	font-size: 14px;
	color: #333;
	
}

div.title-header p{
	line-height: 30px;
	 padding: 0 10px;
    font-weight: bold;
    font-size: 14px; 
    color: #333;
}

div.image-wrapper{
	background: #f1f5f6;
	min-height: 500px;
	border-radius: 4px;
}

div.result-wrapper{
	padding-left: 15px;
}

p.title-desc{
	color: #616161;
	font-size: 14px;
	text-align:center;
}

p.sectoin-title{
	color: #333;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}

div.calculator-box{
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	background: #e2eff7;
    border: #aec9da solid 1px;
    border-radius: 4px;
}

.opt-service{
	color: #333;
	font-size: 14px;
}

div.my-liner{
	margin-top: 15px;
	margin-bottom: 15px;
	border-top: #c5c7c8 dashed 1px;
}

p.text-desc{
	
	font-size: 14px;
	color: #333;
	margin: 0;
	margin-top: 15px;
}

p.text-desc span{
	font-weight: bold;
}

.form-control{
	height: 40px !important;
	padding: 6px 10px;
}
.input-group-addon{
	font-size: 12px !important;
	padding : 6px 3px;
}
