div.base-title{
	
	height: 60px;
	line-height: 60px;
	
}

div.base-title a{
	color: #333;
	font-weight: bold;
	font-size: 17px;
	display:block;
	padding-left: 20px;
}

div.base-title a:hover{
	background: #f1f1f1;
}


div.child-title{
	height: 40px;
	line-height: 40px;

}

div.child-title a{
	color: #D72320;
	font-weight: bold;
	font-size: 14px;
	display:block;
		padding-left: 40px;
}

div.child-title a:hover{
	background: #f1f1f1;
}


div.child-answer{
	font-size: 14px;
	
	color: #616161;
}

div.child-answer div{
	padding-left: 40px;
}

a.title-wrapper{
	position:relative;
}

i.arrow-right-text-1{
	position:absolute;
	right: 25px;
	top: 12px;
	font-size: 18px;
	font-weight: bold;
}

i.arrow-right-text{
	position:absolute;
	right: 20px;
	top: 18px;
	font-size: 22px;
	font-weight: bold;
}