div.no-data{
	
	border: 1px solid #d4d4d4;
	min-height: 300px;
	
}

a.go-to-topup{
	
	font-weight: bold;
	color: #D72320;
}

a.go-to-topup:hover{
	
	text-decoration:underline;
	
}

div.loading-bg{
	position:fixed;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.2;
	z-index: 1000;
	width: 100%;
	height: 100%;
}

div.image-loading{
	position:fixed;
	top: 40%;
	left: 0;
	z-index: 1001;
	width: 100%;
	height: 100%;
	text-align:center;
	
}

p.cls-title{
	
	background: whitesmoke;
    padding: 10px 15px;
}

a.delete-item{
	
	color: #61727f;
	text-decoration:none; 
	cursor:point;
}

a.delete-item:hover{
	text-decoration:underline;
}

div.total-item-dis{
	float:left;
	margin-right: 25px;
	line-height:40px;
}

div.no-data-title{
	background: #D72320;
	min-height: 40px;
}

div.input-user-wrapper{
	position: relative;
}

button.button-user{
	position:absolute;
	left: 0;
}

ul.my-ul{
	
	padding : 0 !important;
	border-radius: 0 !important;
	border-bottom: 1px solid #ddd;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.nav-pills>li.li-nav a{
	border: 3px solid transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #464646 !important;
    background: transparent !important;
    border-bottom: 3px solid #D72320;
    border-radius: 0 !important;
}

.nav-pills>li.active>a span.step-no{
	background: #D72320;
}

 span.step-no{
	background: #a7a7a7;
    padding: 4px 10px;
    border-radius: 100%;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
}

p.list-group-item-text{
	display: inline-block;
	color: #464646 !important;
}
span.message_box{
	
	padding:20px 30px 20px 30px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 20px;
	box-shadow: 5px 5px 20px gray;
	background: #333;
	text-align: center;
	color: white;
	z-index: 101;
}

span.error-message_box{
	padding:20px 30px 20px 30px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 20px;
	box-shadow: 5px 5px 20px gray;
	background: #b13030;
	text-align: center;
	color: white;
	z-index: 100;
}
 .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }
    
    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }
    
    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }
    
    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }
    
    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }
    
    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }
    
    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }
    
    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }
    
    .invoice-box table tr.item.last td {
        border-bottom: none;
    }
    
    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }
        
        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    
    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }
    
    .rtl table {
        text-align: right;
    }
    
    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    
    
    
    
    
    
    
    @media (max-width: 400px) {
	p.user-phone-no{
		margin-right: 0 !important;
	}
		
}

@media (max-width: 992px) {
	div.add-address-left{
		padding-right: 0 !important;
	}
	
	div.add-address-right{
		padding-left: 0 !important;
	}
		
}

.delete-address{
	opacity: 0.3;
}

div.address-item-wrapper{
	overflow:hidden;
}

.default-address{
	border : 3px solid gray;	
}

.invalid-data{
	border : 1px solid #e6594e;
}

.invalid-data:focus{
	border : 1px solid #e6594e;
}

p.ps-shipping-address{
	font-weight: bold;
	font-size: 14px;
	color: #333;
	padding: 15px 0 10px 0;
}

div.shipping-wrapper{
	padding: 0 0 0 0px;
}

div.address-wrapper{
	
}

div.address-item{
	
	border-bottom: 1px solid  #DFDFDF;
	display: table;
	width: 100%;
	padding: 15px;
	cursor:pointer;
	
}

div.col-left{
	display: table-cell;
	padding-right: 20px;	
}

div.col-right{
	
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

p.recipient-name{
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 0px 0;
	color: #333;
}

p.address-detail{
	margin: 0;
}

.span-title{
	font-size: 12px;
	color: #333;
	margin-right: 2px;
}

.span-desc{
	font-size: 12px;
	color: #333;
}

a.text-action{
	font-size: 12px;
	display: inline-block;
	color: #333;
	padding: 5px 5px 5px 5px;
	
}

span.add-data-btn{
	font-size: 12px;
	font-weight: bold;
	padding-right: 10px;
	color: #333;
	cursor: pointer;
	padding: 10px 10px 10px 0;
}

span.add-data-btn:hover{
	text-decoration: underline;
}

span.add-data-desc{
	font-size: 12px;
	color: #333;
	padding: 10px 0 10px 0;
}

p.add-address-text{
	padding: 10px 0 10px 0;
}

div.fill-in-form{
	border: 1px solid #DFDEDE;
    background-color: #F7F7F7;
    padding: 10px 35px 27px 35px;
    display:none;
}

div.fill-in-form:before{
	top: -13px;
    border-left: 1px solid #DFDEDE;
     border-top: 1px solid #DFDEDE;
    content: " ";
    height: 25px;
    width: 25px;
    position: absolute;
    background: #F7F7F7;
    text-align:center;
    left:30px;
 	
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    transform: rotate(45deg);
 
}

.form-group{
	margin-bottom: 15px !important;
}

div.form-wrapper-left, div.form-wrapper-right{
	float: left;
}

div.add-address-wrapper{
	margin-top: 20px;
}

label.title-input{
	font-weight: normal !important;
	font-size: 12px !important;
	margin-top: 6px;
	color: #333;
}

input.input-text-form{
	height: 37px !important;
}

span.cls-pointer{
	color: #cc0033;
	margin-right: 3px;
}

div.update-fill-in-form{
	margin-top: 20px;

}

button.standard-btn{
	min-width: 180px;
	letter-spacing : 0 !important;
}

button.btn-cancel{
	color: #333;
}
button.btn-save{
	background: #E4282C;
}


