div.box-big-image, div.box-small-image{
	text-align:center;
}
img.big-image{
	width: 380px;
	height: auto;
	object-fit: cover;
	border: 2px solid #e0e0e0;
	
}



div.small-image-wrapper{
	
	max-width: 380px;
	margin: 0 auto;
}

img.small-image{
	width: 100%;
	
	height: 100%;
	object-fit: cover;
	border-radius: 2px;
	border: 3px solid white;
}

div.box-small{
	text-align:center;
	margin-top: 10px;
	width: 76px;
	height: 76px;
	float: left;
	padding: 3px;
	cursor:pointer;
}

div.box-small div.small-image-thumbnail{
	border : 2px solid #dedede;
	
}


div.active-box-small div.small-image-thumbnail{
	border: 2px solid #ff7829;
	 position: relative;
	 text-align:center;
	 -webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	 
}

div.active-box-small div.small-image-thumbnail:before{
	top: -6px;
    border: solid transparent;
    content: " ";
    height: 10px;
    width: 10px;
    position: absolute;
    background: #ff7829;
    text-align:center;
    left:30px;
 	z-index:-1;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    transform: rotate(45deg);
 
}



div.price-wrapper{
	background:#f6f4f7;
	height: 60px;
	padding-left: 30px;
}

p.product-price{
	color: #FF415B;
	font-weight:bold;
	line-height: 55px;
}

span.price_currency{
	font-size: 18px
}

span.price_amount{
	font-size: 24px;
}

div.scrape-info div.div-main{
	
	margin-top: 10px;
}

div.delivery-fee{
	min-height: 50px;
}

div.delivery-fee p.fee-title{
	float: left;
	    line-height: 40px;
	    margin-right: 10px;
	    
}
div.delivery-fee input{
	padding-left: 6px;
	width: 130px;
	border: 1px solid #dcdcdc;
	float: left;
	height:35px;
	 margin-right: 10px;
}

div.text-info{
	float:left;
	position:relative;
	width: 200px;
	min-height: 40px;
}

div.text-info p{
	font-size: 12px;
	
}

div.text-info p.exclude{
	position:absolute;
	
	top: 0;
}

div.text-info p.estimation{
	position:absolute;
	color: #337ab7;
	top: 15px;
}


div.box-size divsize-wrapper{
	float:left;
}

div.size-item{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	min-width: 45px;
	height: 30px;
	border: 1px solid #d0d0d0;
	text-align:center;
	cursor: pointer;
	
}

div.active-size-item{
	border: 2px solid #ff7829;
}


p.text-title{
	float:left;
	line-height: 45px;
	min-width: 50px;
}

p.text-slider{
	margin-right: 20px;
	float:left;
	line-height: 45px;
}

div.color-item{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	
	height: 30px;
	border: 1px solid #d0d0d0;
	text-align:center;
	cursor: pointer;
}

div.color-item span{
	padding: 0 10px 0 10px;
}

div.color-item-active{
	border: 2px solid #ff7829;
}

input.customer-message{
	width: 300px;
	height: 35px;
	border: 1px solid #d0d0d0;
}

@media( max-width:380px){
	input.customer-message{
		width:240px !important;
	}
}

@media (max-width: 768px) {
	div#for-small-title{
		display: block !important;
	}
	
	div#for-big-title{
		display: none !important;
	}
	
	
}

input.item-quantity{
	height: 35px;
	width: 90px;
	border: 1px solid #d0d0d0;
	text-align:center !important;
}

button.event-btn{
	background: #E2435C;
	min-width: 200px;
	
	height: 50px;
	margin-top: 8px;
}

